# dot files
/.vscode/
/.settings
/.eide/log
/.eide.usr.ctx.json

# project out
/build
/bin
/obj
/out
/Objects/
/imagesource/

# eide template
*.ept
*.eide-template
*.ggb
*.uvoptx
*.uvprojx
*.Zhuan
*.yy
*.map